/* HTML */
body {
  background-color: #393E46;
  text-align: center;
}
div {

  text-align: center;

}

h1,p {
  padding:40px;
  font-size: 5rem;
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  font-style: italic;
  font-variant: inherit;

  color:#00FFDD;
}
p{
  font-size: 2rem;
}

section{
  margin-top: 60px;
  padding: 50px;
  color:white;
  font-family: 'Parisienne', cursive;
  text-align: center;
  font-size: 60%;


}
h5,h6{
  color:white;

}
h6:hover{
  color:#F0A500;
}
h5:hover{
  color:#85F4FF;
}

a {
  text-decoration: none;

}
/* ID'S */
#twitter {

  margin-top: 20px;
  padding: 10px;
}
#insta {
  
  margin-top: 20px;
  padding: 10px;
}
#anime {


}
.insta:hover{
  color:#019267;
}
